<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello World!</title>
</head>
<body>
  <h1>Hello World!</h1>
  <h2>This is server {{ inventory_hostname }}!</h2>
  <p>Port: {{ nginx_port }}</p>
  <p>Root directory: {{ root_dir }}</p>
  <h1>{{ (greeting_text + ' ' + inventory_hostname + '!') | upper }}</h1>
  <p>Current date and time: {{ ansible_date_time.iso8601 | default('Unknown') }}</p>
  <small>Generated on {{ ansible_date_time.date }} at {{ ansible_date_time.time }}</small>
</body>
</html>
